[Desktop Entry]
Name=BookiE
GenericName=Database Client
Comment=Native Linux database client
Exec=bookie
Icon=com.tablepro.linux
Terminal=false
Type=Application
Categories=Development;Database;
StartupNotify=true
StartupWMClass=com.tablepro.linux
